---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
	<p>Hi I am Naveen, a Software Engineer, currently working at Atlassian. Whenever I am not tinkering with computers you can find me reading high fantasy, or playing Tennis</p>
</BaseLayout>

