---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
	<a href="https://github.com/naveensd101/">github</a>
	<a href="https://www.linkedin.com/in/sdnaveen/">linkedin</a>

	<center>
		</br>
		<img src="/me.jpg">
		</br>
	</center>

	<p>Hi I am Naveen, a Software Engineer, currently working at Atlassian. Whenever I am not tinkering with computers you can find me reading high fantasy, or playing Tennis</p>

</BaseLayout>

