---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<p>I will keep my blogs here</p>
	<ul>
		<li><a href="/posts/post-1">First page<a></a></a></li>
		<li><a href="/posts/post-2">Template post from astro<a></a></a></li>
	</ul>
</BaseLayout>
