---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Naveen";
---

<BaseLayout pageTitle={pageTitle}>
	<p>
		I am a learner, reader, cs lover, and an (amature) tennis player. Living life quarter char at a time.
	</p>
	<p>
		<a href="https://twitter.com/thenaveensd">twitter</a> <a href="mailto:naveensd101@gmail.com">email</a> <a href="https://github.com/naveensd101/">github</a > <a href="https://mastodon.social/@thenaveensd">mastodon</a>
	</p>
	<center>
		<img src="/mistborn.png">
		</br>
		Mistborn &lt3
	</center>
</BaseLayout>
