---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Naveen";
---

<BaseLayout pageTitle={pageTitle}>
	<p>
		Hello there, Internet friend! I'm a dedicated enthusiast in the realms of <u>computer science</u>, <u>Linux</u>, and <u>mathematics</u>. Feel free to explore my <a href="/sdlog">blogging</a> endeavors [insert link here] to dive deeper into my passions.
	</p>
	<p>
		You can find all of my coding work in my <a href="https://github.com/naveensd101/">github</a >
	</p>
	<p>
		Check out my blog <a href="/sdlog">here</a>
	</p>
	<p>
		You can reach out to me via my <a href="https://twitter.com/thenaveensd">twitter</a> or <a href="mailto:naveensd101@gmail.com">email</a>. 
	</p>
	<p>
		Check out my digital garden <a href="https://garden.naveensd.com">here</a>
	</p>
</BaseLayout>
