---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Naveen's Blog";
---

<BaseLayout pageTitle={pageTitle}>

	<h3>2025</h3>
	<ul>
		<li><a href="/logs/2025/Oct">October</a></li>
		<li><a href="/logs/2025/Sep">September</a></li>
	</ul>
	<h3>2023</h3>
	<ul>
		<li><a href="/logs/2023/pycon23">PyCon '23</a></li>
		<li><a href="/logs/2023/fossmeet23">FOSSMeet '23</a></li>
		<li><a href="/logs/2023/cult-of-done">Cult of Done</a></li>
	</ul>

	<center>
		<p>
			<a href="https://github.com/naveensd101/">github</a > <a href="https://mastodon.social/@thenaveensd">mastodon</a>
		</p>
	</center>
	<center>
		<img src="/mistborn.png">
		</br>
		Mistborn &lt3
	</center>
</BaseLayout>
