---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Naveen";
---

<BaseLayout pageTitle={pageTitle}>
	<p>
		Hi this is me. You can find almost all of my coding work in <a
			href="https://github.com/naveensd101/">my github</a
		>
	</p>
</BaseLayout>
