---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "sdLog";
---

<BaseLayout pageTitle={pageTitle}>
	<p>I will keep my blogs here</p>
	<ul>
		<li><a href="/logs/fossmeet23">FOSSMeet '23<a></a></a></li>
	</ul>
</BaseLayout>
