---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "sdLog";
---

<BaseLayout pageTitle={pageTitle}>
	<p>I will keep my blogs here</p>
	<ul>
		<li><a href="/logs/pycon23">PyCon '23</a></li>
		<li><a href="/logs/fossmeet23">FOSSMeet '23</a></li>
		<li><a href="/logs/cult-of-done">Cult of Done</a></li>
	</ul>
	<center>
		<img src="/lotr.png">
		</br>
		LoTR
	</center>
</BaseLayout>
