---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Shorts";
---

<BaseLayout pageTitle={pageTitle}>
	<p>I will post some short writeups that couldn't be made into a stand alone blog posts.</p>
</BaseLayout>

